$font-stack: 'Muli', sans-serif;
$background-color: #F1F4F9;
$primary-main: #2F80ED;
$secondary-main: #FFAB1F;
$error-main: #fd5742;
$tint-black: #232323;
$tint-steel: #444444;
$tint-slate: #7B7B7B;
$tint-silver: #B7B7B7;
$tint-smoke: #E5E5E5;
$tint-snow: #FAFAFA;
$tint-ice: #E4EEFB;
$tint-meltIce: #F6F9FE;
$tint-opacity: rgba(123, 123, 123, 0.11);
$tint-shadow: rgba(0, 0, 0, 0.14);
$shadow-button: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$shadow-card: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$shadow-nav-bar: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
