@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,800');
@import 'core';
@import 'pages';
@import 'components';


html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: $font-stack;
  background: $background-color;
  color: $tint-black;
}
